*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background: black; */
    background-image: url('../img/british-museum-bg.jpg');
}

html{
    scroll-behavior: smooth;
}

h1, h2 {
    color: white;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: white;
} 

.container {
    width: 80%;
    margin: 0 auto;
}

/* === navbar === */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 50px;
    cursor: point;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-item {
    margin: 0 20px;
}

.toggle {
    display: none;
    cursor: pointer;
    width: 40px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.navbar-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: 1px solid #DDDAC6;
    border-radius: 0.8rem;
    color: white;
    transition: 0.3s;
}

.navbar-button:hover {
    color: black;
    background: white;
}

@media screen and (max-width: 912px) {
    .toggle {
        display: block;
        width: 35px;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;
        background: black;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-items.active {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-button {
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.25rem;
        margin-left: 0px;
    }

    .toggle {
        width: 25px;
    }
}
/* === end navbar === */

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   }

   video {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  .video-container .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }

   .header__container {
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
   }

   .header__title {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
   }

   .header__text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
   }

   .btn_mulai {
    display: inline-block;
    color: var(--colour-bg-cream);
    padding: 0.8rem 5rem;
    border: 2px solid white;
    border-radius: 4rem;
    font-weight: 500;
    margin-top: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
   }

   .btn_mulai:hover {
    background: white;
    color: black;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
   }
   
   .card-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    margin: auto;
   }
   .text-container {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   }
   .left-container h1 {
    font-size: 32px;
   }
   .right-container {
    font-size: 20px;
   }
   .book-online {
    color: white;
    text-decoration: none; /* Remove default underline */
    position: relative;
    transition: color 0.3s ease;
}

.book-online::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px; /* Position the underline */
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translateX(-50%) scaleX(1); /* Centered underline */
    transform-origin: center;
    transition: transform 0.3s ease;
}

.book-online:hover {
    color: #ddd; /* Slight color change */
}

.book-online:hover::after {
    transform: translateX(-50%) scaleX(0); /* Shrinks underline to disappear to the middle */
}
   .horizontal-line {
    height: 2px;
    background-color: white;
    width: 100%;
    max-width: auto;
    margin: 20px auto;
}
   @media (max-width: 768px) {
    .text-container {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
    }
}

/* Responsive for 360px and below */
@media (max-width: 360px) {
    .text-container {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
    }
}
   /* End Header */

   /* Exhibition */
.exhibitions {
    text-align: left;
    padding: 3%;
    background: black;
    color: white;
}

.exhibition-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.exhibition-item p {
    margin-bottom: 15px;
}
.exhibition-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
}
.exhibition-item {
    background-color: #1d1d1d;
    color: white;
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.exhibition-item.black:hover {
    background: #EF4036;
}
.badge {
    cursor: pointer;
}
.exhibition-item.black:hover .badge.red {
    background-color: black;
    color: #EF4036;
}
.exhibition-item.dark-gray:hover {
    background-color: #DDDAC6;
}

.exhibition-item.dark-gray:hover .badge.dark-gray {
    background-color: #1D1D1D;
    color: #DDDAC6;
}
.exhibition-item.yellow:hover {
    background-color: #FDDD00;
}

.exhibition-item.yellow:hover .badge.yellow {
    background-color: #1D1D1D;
    color: #FDDD00;
}
.badge.red {
    background: #EF4036; 
    color: black; 
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.badge.dark-gray {
    background: #DDDAC6; 
    color: black; 
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.badge.yellow {
    background: #FDDD00; 
    color: black; 
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.exhibition-item .badge.red:hover {
    background: #1d1d1d;
    color: #EF4036;
}

.exhibition-item h2 {
    background-color: black;
    color: white;
    font-size: 1.8em;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
}



h3 { font-size: 22px; }
.highlight { font-size: 18px; font-weight: bold; }


.exhibition-info {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
}

.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
}

.exhibition-image {
    width: 100%;
    border-radius: 5px;
    height: 300px; 
    object-fit: cover; 
    border-radius: 5px;
    }

/* Responsive Media */
@media screen and (max-width: 768px) {
    .exhibitions {
        width: 100%;
        padding: 8%;
    }
    .exhibition-container {
        flex-direction: column;
        width: 100%;
    }
    .exhibition-item {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .exhibition-container {
        flex-direction: column;
    }
    .exhibition-item {
        width: 100%;
    }
}
/* End Exhibition */
/* Visit */
.visit-section {
    width: 100%;
    padding: 3%;
    background: black;
    color: white;
}

.visit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.visit-card {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    height: 300px;
}

.visit-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.visit-content {
    padding: 20px;
}

.visit-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.visit-card p {
    font-size: 14px;
    color: #ccc;
}

.visit-card:hover {
    transform: scale(1.05);
}


.visit-card-content {
    padding: 15px;
}

.visit-card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .visit-section {
        width: 100%;
        padding: 8%;
    }
    .visit-card-container {
        flex-direction: column;
        align-items: center;
    }
    .visit-card {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .container h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 0.9rem;
    }
}
/* End of Visit */

/* Collection */
.collection {
    background: black;
    color: white;
    padding: 3%;
    text-align: center;
}

.collection h2 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.see-all {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.see-all:hover {
    text-decoration: underline;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: max-content;
}

.carousel-item {
    height: 450px;
    width: 350px;
    background: #222;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.carousel-item:hover {
    transform: scale(1.05);
    text-decoration: underline 2px solid white;
    text-underline-offset: 10px;

}

.carousel-item h3 {
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.carousel-item img {
    max-width: 100%;
    max-height: 350px;
    width: auto;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

button.prev { left: 10px; }
button.next { right: 10px; }

button.prev:hover, button.next:hover {
    background: #4f4f4f;
    color: white;
}

@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
        padding: 0 10px;
    }
    
    .carousel {
        overflow-x: hidden;
    }
    
    .carousel-track {
        gap: 15px;
    }
    
    .carousel-item {
        width: calc(100vw - 40px);
        height: 400px;
        margin: 0 auto;
    }
    
    button.prev, button.next {
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    
    button.prev { left: 5px; }
    button.next { right: 5px; }
    
    .collection h2 {
        font-size: 1.5rem;
        flex-direction: column;
        gap: 10px;
    }
}

/* End Of Collection */

/* Museum Shop */
.shop {
    background: black;
    color: white;
    padding: 3%;
    text-align: center;
}

.shop h2 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.see-all {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.see-all:hover {
    text-decoration: underline;
}

.carousel-shop {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.carousels {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.carousel-tracks {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: max-content;
}

.carousels-item {
    height: 450px;
    width: 350px;
    background: #222;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.carousels-item:hover {
    transform: scale(1.05);
}

.carousels-item h3 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.carousels-item img {
    max-width: 100%;
    max-height: 350px;
    width: auto;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

button.prev { left: 10px; }
button.next { right: 10px; }

button.prev:hover, button.next:hover {
    background: #4f4f4f;
    color: white;
}

@media (max-width: 768px) {
    .carousel-shop {
        width: 100%;
        padding: 0 10px;
    }
    
    .carousels {
        overflow-x: hidden;
    }
    
    .carousel-tracks {
        gap: 15px;
    }
    
    .carousels-item {
        width: calc(100vw - 40px);
        height: 400px;
        margin: 0 auto;
    }
    
    button.prev, button.next {
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    
    button.prev { left: 5px; }
    button.next { right: 5px; }
    
    .shop h2 {
        font-size: 1.5rem;
        flex-direction: column;
        gap: 10px;
    }
}
/* End of Shop */

/* Footer */
footer {
    background-color: #111;
    color: white;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.footer-title {
    padding: 10px;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #222;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: #4f4f4f; 
}

.social-links Ion-Icon {
    font-size: 25px;
    color: white;
    transition: 0.3s ease-in-out;
}

.newsletter {
    margin-top: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    border: 1px solid #555;
    background: #222;
    color: white;
    transition: 0.3s ease-in-out;
}

.newsletter button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.newsletter button:hover {
    background-color: #4f4f4f;
    color: white;
}


.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.column {
    width: 20%;
    min-width: 180px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin: 5px 0;
}

.column ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.column ul li a:hover {
    color: #4f4f4f;
}

@media screen and (max-width: 768px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 360px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* End of Footer */